#navbar{
    margin: 0px;
    padding: 15px;
    background-color: gray;
    
}
.flex{
    display: flex;
}

.title{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    
}


.imagem{
  margin: 20px;
  width: 440px;
}

.footer{
    background-color: gray;
    padding: 20px;
    text-align: center;
}
#pride{
    width: 5%;
}

.preco{
    text-align: center
}

.card{
    
<<<<<<< HEAD

=======
}
.cabecalho{
    text-align: center;
>>>>>>> 80ae0caf1fd1cb78bf6d576967807a731147e2b8
}