#navbar{
    margin: 0px;
    padding: 15px;
    background-color: gray;
    
}
.flex{
    display: flex;
}

.title{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    
}


.imagem{
  margin: 20px;
  width: 430px;
}

.footer{
    background-color: gray;
    padding: 20px;
    text-align: center;
}
#pride{
    width: 7%;
}

.preco{
    text-align: center
}

.card{
border-color: grey;   
border: 200px; 
background-color: gray;

}
.cabecalho{
    text-align: center;

}
.carousel{
    display: flex;
    overflow: auto;
    width: 425px;
    height: 300px;
    scroll-snap-type: x mandatory;
}

#carousels{
    width: 500px;
    height: 400px;
}

.center{
    text-align: center;
}

.contato{
    margin: 10px;
    background-color: black;
    width: 370px; 
    border: solid;
    color: aliceblue;
}

#textbox{
    height: 20px;
}