#navbar{
    margin: 0px;
    padding: 50px;
    background-color: gray;
    
}
.flex{
    display: flex;
}

.title{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    
}
<<<<<<< HEAD
.imagem{
  margin: 20px;
  width: 1000px;
  color
  
  
}
=======

.footer{
    background-color: rgb(182, 176, 168);
    padding: 40px;
    text-align: center;
}
>>>>>>> 67b5ebd9de2305b830c4856304cc7c22348cdb41
